@model IEnumerable<FitnessSystem.Models.Workout>

@{
    ViewData["Title"] = "List of workouts";
}

<h1>List</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.WorkoutName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Plan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Client)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.WorkoutName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Plan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Client.ClientID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.WorkoutID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.WorkoutID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.WorkoutID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
